<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRM</title>
</head>

<body>
    <a href="{% url 'leads:lead-create' %}">Create a new Lead</a>
    <hr>
    <h2>Our Lead List-</h2>

    {% for lead in leads %}
    <a href="{% url 'leads:lead-detail' lead.pk %}">{{lead.first_name}} Age: {{lead.age}}</a>
    <br>
    {% endfor %}

</body>

</html>